/* basic CSS sheet and design for now. Will update with more complex
interactions as time goes on. For now, flexboxes allow for dynamic
movement when the page is resized. */

body {
    background-color: #575761;
}

.header {
    padding: 10px;
    font-family: sans-serif;
    background-color: #8ACB88;
    display: flex;
}

h1 {
    color:#648381;
    font-size: 40px;
}

.header div {
    padding-top: 20px;
    justify-content: flex-end;
    font-family: sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-right: 25px;
}

a{
    color: navy;
    text-decoration: underline overline white;
    font-family: sans-serif;
}

#about-me {
    color: #E4FDE1;
    font-size: 20px;
}

#contact-me {
    color: #E4FDE1;
    font-size: 20px;
}

.main-image {
    position: relative;
    border: 10px solid black;
    opacity: 0.5;
}

.main-image:hover { /* on hover, project you want to view is highlighted */
    opacity: 1;
}

.main-image img {
    height: 50%;
    width: 100%;
    display: block;
}

.bottom-left { /* used to place caption on main image*/
    position: absolute;
    bottom: 25px;
    left: 25px;
    /* border: 5px solid blue; used this to test box for captions */
    color: black;
    font-family: sans-serif;
}

.placeholder-images {
    padding: 20px;
    position: relative;
    justify-content: space-evenly;
}
.placeholder-images img { /* used to change size of placeholder images*/
height: 128px;
width: 128px;
}

#my-work {
    color: #E4FDE1;
    font-size: 20px;
}

.projects ul li { /* used to change positions of items within the list */
    display: inline-block;
    position: relative;
    border: 5px solid black;
    opacity: 0.5;
}
.projects ul li:hover {
    opacity: 1;
}

.projects img { /* used to change size of images*/
    height: 128px;
    width: 128px;
    display: block;
}

.bottom-left-ph { /* used to move captions around on images */
    position: absolute;
    /* border: 5px solid blue; for testing only */
    color: black;
    font-family: sans-serif;
    bottom: 4px;
}